@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: '16bit';
  font-style: normal;
  src: url(../public/font.ttf) format('truetype');
}

* {
  font-family: 16bit;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active {
  animation: slide-in 0.5s;
}
.slide-leave-active {
  animation: slide-in 0.5s reverse;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slide-left-enter-active {
  animation: slide-left-in 0.5s;
}
.slide-left-leave-active {
  animation: slide-left-in 0.5s reverse;
}
@keyframes slide-left-in {
  0% {
    opacity: 0;
    transform: translateX(300%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.slide-right-enter-active {
  animation: slide-right-in 0.5s;
}
.slide-right-leave-active {
  animation: slide-right-in 0.5s reverse;
}
@keyframes slide-right-in {
  0% {
    opacity: 0;
    transform: translateX(-300%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.swirl-enter-from,
.swirl-leave-to {
  transform: rotate(-540deg) scale(0);
  opacity: 0;
}

.swirl-enter-active {
  transition: transform 1.5s, opacity 0.5s;
}

.swirl-leave-active {
  transition: transform 1.5s, opacity 1.5s;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  position: relative;
}

.flip-card-on-hover:hover > .flip-card-inner:not(.flip),
.flip {
  transform: rotateY(180deg);
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-front {
  transform: rotateY(180deg);
}

.bordered-text {
  text-shadow: -2px -2px 0 black, -2px -1px 0 black, -2px 0px 0 black,
    -2px 1px 0 black, -2px 2px 0 black, -1px -2px 0 black, -1px -1px 0 black,
    -1px 0px 0 black, -1px 1px 0 black, -1px 2px 0 black, 0px -2px 0 black,
    0px -1px 0 black, 0px 0px 0 black, 0px 1px 0 black, 0px 2px 0 black,
    1px -2px 0 black, 1px -1px 0 black, 1px 0px 0 black, 1px 1px 0 black,
    1px 2px 0 black, 2px -2px 0 black, 2px -1px 0 black, 2px 0px 0 black,
    2px 1px 0 black, 2px 2px 0 black;
}

.bordered-text-sm {
  text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px 0px 0 black,
    -1px 1px 0 black, -1px 1px 0 black, -1px -1px 0 black, -1px -1px 0 black,
    -1px 0px 0 black, -1px 1px 0 black, -1px 1px 0 black, 0px -1px 0 black,
    0px -1px 0 black, 0px 0px 0 black, 0px 1px 0 black, 0px 1px 0 black,
    1px -1px 0 black, 1px -1px 0 black, 1px 0px 0 black, 1px 1px 0 black,
    1px 1px 0 black, 1px -1px 0 black, 1px -1px 0 black, 1px 0px 0 black,
    1px 1px 0 black, 1px 1px 0 black;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}
